<h1>Course Request Form</h1>
  <% form_tag({:controller => "new_course_form" ,:action => "create"}, :class => "bootstrap-form form-horizontal") do -%>
  <div class="control-group">
    <%= label_tag "Courses For", "Courses For", :class => "control-label" %>
    <div class="controls">
      <%= text_field_tag "course_for", nil, :class => "input-large", :value => @sfuid, :onkeyup => "update_course_params();", :required => true %>
    </div>
  </div>

   <div class="control-group">
     <%= label_tag "Courses you are teaching", "Course List", :class => "control-label" %>
      <div class="controls">
        <%
           @course_list.each do |course_info|
            course_data = course_info.split(":::")
        %>
           <%=  check_box_tag "course", course_data[0]  %> <%= course_data[1] %><br>
        <% end %>
      </div>
   </div>

<hr>
  <div class="button-container">
    <%= submit_tag "Create Course", :class=> "btn btn-primary" %>
  </div>
<% end %>


